cycler>=0.10.0
h5py>=2.7.1
ipykernel>=4.8.2
ipython>=5.5.0
ipython-genutils>=0.2.0
igor>=0.3
jupyter-client>=5.2.3
jupyter-core>=4.4.0
matplotlib>=2.1.0
numpy>=1.8.0
pickleshare>=0.7.4
qtconsole>=4.3.1
scipy>=0.19.1
screeninfo>=0.3
pyfits>=3.4
PyQt5>=5.5.1
pyqtgraph>=0.10.0
